.title-app{
  text-align: center;
  color: #808080;
  padding: 25px;
}
.title{

}
.page-content{
  text-align: left;
  padding: 25px;
}
.App-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border: 1px solid #ddd;
  color: var(--color-black)
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

section{
  margin-top: 10px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
h3{
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 1.1;
}

a{
  text-decoration: none !important;
}

body{
  font-size: 14px !important; 
  padding-bottom: 110px;
}

footer{
  text-align: center;
  float: left;
  height: auto;
  width: 100%;
  margin-bottom: -5px;
  display: block;
  padding: 15px;
  background-color: var(--color-header);
}
.input-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.step-title{
  color: #777;
}