  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

  :root {
    --color-header: #EEEEEE;
    --color-gray: #808080;
    --color-black: #000;
    --color-white: #fff;
    --color-sucess: #5cb85c;
    --color-warning: #f0ad4e;
  }

  html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

